* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-wrap: nowrap;
    height: 450px;
    margin-inline: 100px;
    margin-block: 100px;
    gap: 20px;
    flex-wrap: nowrap;
}

img{
   width: 100%;
   height: 100%;
}

.left-container{
    width: 50%;
    /* border: 2px solid green; */
}

.right-container{
    width: 50%;
    height: 100%;
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
}

h2{
   height: 20%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.first{
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: top;
}

.second{
    height: 40%;
    font-weight: bold;
    overflow: auto;
}

.third{
    margin-top: 15px;
    overflow: auto;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    
    .container{
        flex-wrap: wrap;
    }
}
